<div class="page-header">
  <h1>Specific User</h1>
  <dl class="dl-horizontal">
    <dt><strong>First Name:</strong></dt>
    <dd><%= @user.first_name %></dd>

    <dt><strong>Last Name:</strong></dt>
    <dd><%= @user.last_name %></dd>

    <dt><strong>Email:</strong></dt>
    <dd><%= mail_to @user.email %></dd>
  </dl>
</div>
