
  <h1>Specific User</h1>
<p><strong>First Name:</strong>
<%= @user.first_name %></p>
<p><strong>Last Name:</strong>
<%= @user.last_name %></p>
<div class ="horizontal">
<p><strong>Email:</strong>
<%= mail_to @user.email %></p>
</div>
