<div class= "page-header">
<div class= "text-center">
<h1> About </h1>
<h2>Markus is a pussy ass nigga ass bitch so is greg that cock lovin fagget</h2>
<p>Get organized and increase productivity in your team.</p>
<%= image_tag"meeting.png" %>
</div>
</div>
