<p><h1>Projects</h1><%= link_to "Create Project", new_project_path %></p>

<table class ="table">
  <thead>

<th>Name</th>
</thead>
<% @projects.each do |project| %>
<p><%=link_to project.name, project_path(project) %></p>
<% end %>
</table>
