/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

// .main-content{
//   border: 5px solid red;
//   overflow: auto
// }


input#user_admin{
  margin-top: 12px
}

.footer{
  background: blue;
}
.footer1{
  background: white;
  height: 30px;
}
.footer1{
  a{
  color: black;
  font-size: 20px;
  }
  padding-top: 10px;
  text-align: center;
}

.footer2{
  background: white;
  height: 30px;
  text-align: center;
  padding-top: 20px;
}
.footer3{
  background: white;
  text-align: center;
  padding-top: 20px;
}

body {
  padding-top: 70px;
  height: 100%;
}

.panel{
  text-align: center;
}
.navbar     {
  background-color: black;
}

.jumbotron     {
  background-color: transparent;
}
h1 {
  font-size: 50px;
}
h2 {
  color: #000;
}
.author_grey{
   color: #999;
 }

.sign-up{
  text-align: center;
  margin: 0px 350px 0px 350px;
  h2{
  }
}

.sign-in{
  text-align: center;
  margin: 0px 350px 0px 350px;
  h2{
  }
}
